.outer{
    margin: 0 auto;
}
.container{
    width: 80vw;
    height: auto;
    margin-top: 80px;
}
.img-container{
    background-color: #000000;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.menu-container{
    height: 600px;
    margin:80px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.game-container{
    height: 600px;
    margin:80px auto 0 auto;
}
/* top area */
.start-container{
    height: 600px;
    margin:80px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.title-main{
    color: #eee0b5;
    font-size: 72px;
    font-family: 'Boogaloo', cursive;
}
.title-sub{
    color: #eee0b5;
    font-size: 20px;
    text-align: center;
    font-family: 'Arima Madurai', cursive;
}
.btn-start{
    width: 150px;
    height: 50px;
    display: flex;
    margin: 100px 100px auto;
    margin-bottom: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-family: 'Arima Madurai', cursive;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    color: #4A150D;
    background-color: #f0b253;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}
.btn-start:hover{
    color: #f0b253;
    background-color: #4A150D;
    cursor: pointer;
}
/* menu area */
#mode{
    display: none;
}
.mode-container{
    width: 49.6%;
    height: 275px;
    display: flex;
    color: #eee0b5;
    font-size: 32px;
    font-style: italic;
    justify-content:center;
    align-items: center;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}
.mode-container:hover{
    font-size: 36px;
    color: #4A150D;
    background-color: rgba(238, 224, 181, 0.5); 
    cursor: pointer;
}
.back-btn{
    width: 25%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: rgba(238, 224, 181, 0.5);
    font-family: 'Arima Madurai';
    color: #4A150D;
    font-size: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}
.back-btn:hover{
    background-color: #eee0b5;
    cursor: pointer;
}
/* game area */
#game{
    display: none;
}
.game-container{
    height: 600px;
    margin:80px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: rgba(238, 224, 181, 0.9);
}
.parameter{
    width: 32%;
    text-align: center;
    font-size: 24px;
    color: #4A150D;
    line-height: 100px;
    font-weight: bold;
}
.hp{
    color: #009768;
}
.ep{
    color: #A473AE;
}
.sp{
    color: #222E8A;
}
.screen{
    width: 100%;
    height: 250px;
}
.day-count{
    width: 200px;
    height: 65px;
    background-color: rgba(240, 178, 83, 0.9);
    text-align: center;
    line-height: 65px;
    font-family: 'Arima Madurai';
    font-size: 24px;
}
.inv{
    width: 100%;
    height: 125px;
}
.inv-items{
    width: 33%;
    height: 125px;
    float: right;
    display: flex;
    align-items: center;
    background-color: #eee0b5;
}
.item{
    height: 95px;
    width: 25%;
    margin: 0 auto;
    position: relative;
    background-color: rgba(240, 178, 83, 0.6);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}
.item:hover{
    background-color: #f0b253;
    cursor: pointer;
}
.item-1{
    background-image: url(img/meat.png);
}
.item-img{
    height: 95px;
    position: absolute;
}
.item-count{
    margin: 0 auto;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(238, 224, 181, 0.5);
    font-family: 'Boogaloo';
    font-size: 20px;
}
.action{
    width: 100%;
    height: 250px;
}
.action-list{
    display: flex;
}
.action-link{
    font-family: 'Boogaloo';
    width: 19.85%;
    height: 125px;
    background-color: rgba(238, 224, 181, 0.9);
    border: 1px solid #eee0b5;
    text-align: center;
    line-height: 125px;
    font-size: 40px;
    color: #4A150D;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}
.action-link:hover{
    cursor: pointer;
    background-color: #4A150D;
    color: #eee0b5;
}
.target-list{
    display: flex;
}
.hunt-back{
    width: 9.8%;
    height: 250px;
    border: 1px solid #eee0b5;
    background-color: rgba(238, 224, 181, 0.9);
    text-align: center;
    font-family: 'Boogaloo';
    color: #4A150D;
    font-size: 28px;
    line-height: 250px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}
.hunt-back:hover{
    cursor: pointer;
    background-color: #eee0b5;
}
.target{
    width: 22.5%;
    height: 250px;
    border: 1px solid #eee0b5;
    background-color: rgba(238, 224, 181, 0.9);
    text-align: center;
    font-family: 'Boogaloo';
    color: #4A150D;
    font-size: 20px;
}
.target-img{
    height: 115px;
    margin-top: 10px;
}
.hunt-title{
    font-size: 24px;
}
.hunt-btn{
    width: 50%;
    height: 40px;
    background-color: #f0b253;
    margin: 0 auto ;
    margin-top: 10px;
    line-height: 40px;
    border-radius: 100vh;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}
.hunt-btn:hover{
    cursor: pointer;
    background-color: #4A150D;
    color: #f0b253;
}
.search-list{
    width: 100%;
    height: 250px;
    display: flex;
}
.search-title{
    font-size: 24px;
}
.search-back{
    width: 9.8%;
    height: 250px;
    border: 1px solid #eee0b5;
    background-color: rgba(238, 224, 181, 0.9);
    text-align: center;
    font-family: 'Boogaloo';
    color: #4A150D;
    font-size: 28px;
    line-height: 250px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}
.search-back:hover{
    cursor: pointer;
    background-color: #eee0b5;
}
.scan{
    width: 30%;
    height: 250px;
    border: 1px solid #eee0b5;
    background-color: rgba(238, 224, 181, 0.9);
    text-align: center;
    font-family: 'Boogaloo';
    color: #4A150D;
    font-size: 20px;
}
.scan-img{
    height: 100px;
    margin-top: 15px;
}
.search-btn{
    width: 50%;
    height: 40px;
    background-color: #f0b253;
    margin: 0 auto ;
    margin-top: 10px;
    line-height: 40px;
    border-radius: 100vh;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}
.search-btn:hover{
    cursor: pointer;
    background-color: #4A150D;
    color: #f0b253;
}
/* Skill area */
#skill{
    display: none;
}
.skill-container{
    margin: 0 auto;
    width: 80vw;
    height: 600px;
    margin-top: 80px;
    background-color: #4A150D;
}
.skill-title{
    width: 100%;
    height: 100px;
    background-color: rgba(238, 224, 181, 0.9);
    text-align: center;
    line-height: 100px;
    font-family: 'Boogaloo';
    font-size: 48px;
    color: #4A150D;
    position: relative;
}
.return-btn{
    height: 99px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}
.return-btn:hover{
    cursor: pointer;
    background-color: rgba(238, 224, 181, 0.9);

}
.skill-research{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spacing{
    height: 100%;
    width: 5%;
}
.skill{
    height: 300px;
    width: 10.9%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: #eee0b5 4px solid;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    font-family: 'Boogaloo';
    color: #eee0b5;
}
.skill-img{
    height: 100px;
}
.skill-research-title{
    font-size: 24px;
}
.skill-get-btn{
    width: 50%;
    height: 30px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #f0b253;
    color: #4A150D;
    line-height: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
    border-radius: 1vh;
}
.skill-get-btn:hover{
    cursor: pointer;
    background-color: #eee0b5;
}
.arrow{
    height: 100%;
    width: 5%;
    color: #eee0b5;
    text-align: center;
    line-height: 500px;
    font-family: 'Boogaloo';
    font-size: 40px;
    font-weight: bold;
}
.skill-get{
    background-color: #6ea362;
}
